/* Default to dark mode */
body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 8px;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3700b3;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

button.red {
  background-color: rgb(242, 43, 43);
}

button.red:hover {
  background-color: #920505;
}

/* Light mode styles */
body.light-mode {
  background-color: white;
  color: black;
}

.App.light-mode {
  background-color: #f0f0f0;
}

button.light-mode {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button.light-mode:hover {
  background-color: #3700b3;
}

input.light-mode {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
}

ul.light-mode li {
  background-color: #f9f9f9;
}

/* Add this for light mode heading */
h1.light-mode {
  color: black; /* Change the color of the title to black in light mode */
}
